.grid-title{
    text-align: center;
    margin-bottom: 20px;
}
.stud{
    background:linear-gradient(160deg,plum, purple, lavender );
}
/* 4 cards per row */
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Card design */
.grid-card{
    background-color: beige;
    padding: 15px;
    border-radius: 50px;
    margin: 70px;
    text-align: center;
    box-shadow: 0px 4px 8px plum;
}

/* Hover effect */
.grid-card:hover{
    transform: scale(1.15);
    transition: 0.3s;
}

.grid-card h3{
    color: #007bff;
}
